.profile::-webkit-scrollbar{
    width: 6px;
}
.profile::-webkit-scrollbar-thumb{
    background: #dbd9d9;
    border-radius: 10px;
}

.sidebar .active{
    background-color: #5f6168;
    border-radius: 30px;
}
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #303035;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
      spinner-oaa3wk 1.6s infinite linear;
  }